<header>
	<div class="top-bar">
		<div class="container">
			<div class="row">

				<div class="col-md-6">
					<div class="head-1">
						<p><i class="fa fa-envelope"></i><a href="#"> Contact  </a></p>
					</div>
					<div class="head-2">
						<p><i class="fa fa-user"></i><a href="#"> Login / register</a></p>
					</div>
				</div>



				<div class="col-md-6">
					<div class="icon-sec">
						<a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
						<a href="https://twitter.com/login?lang=en"><i class="fa fa-twitter"></i></a>
						<a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram"></i></a>
						<a href="#"><i class="fa fa-google-plus"></i></a>
						<a href="https://in.linkedin.com/"><i class="fa fa-linkedin"></i></a>
					</div>
				</div>

			</div>
		</div>
	</div>

<div class="header-middle">
<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="logo-sec">
					<a href="#"><img src="images/logo.png" /></a>
				</div>
			</div>
			<div class="col-md-8 text-right ">
								
								<div class="help">
										
										<img src="images/hdr-phone.png" align="left">
														<h3> 098960 98960<br>
																<span>98960 98960</span> </h3>
														
										
										</div>
								
									<div class="help">
							<a HREF="#"><img src="images/donate-now.png" align="left"></a>
														
														
										
										</div>
										
										
										
								</div>
		</div>
		</div>
		</div>
		
	
	
</header>